#include "/home/mburrows/src/nord-xresources/src/nord"

XTerm*faceName:         DejaVuSansMono Nerd Font Mono
XTerm*faceSize:         9
XTerm*saveLines:        9999
XTerm*scrollBar:        false
XTerm*scrollKey:        true
XTerm*scrollTtyOutput:  false
XTerm*visualBell:       true
XTerm*utf8:             1
XTerm*cjkWidth:         0

!Emacs.font:  Inconsolata:size=16
Emacs.font:  Inconsolata:size=16
Emacs*fontBackend: xft

URxvt.font: xft:DroidSansMono Nerd Font Mono:size=9
URxvt.scrollBar: false
URxvt*saveLines: 9999
URxvt.visualBell: true
!URxvt*background: #FBF8EF
URxvt.perl-ext-common: default,selection-to-clipboard,matcher
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/google-chrome
!URxvt.colorUL: #7780a1
